<div class="container-fluid">
  <form action="/answer" data-turbo="false">
    <div class="mb-3">
      <label for="">Ask a question</label>
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </div>
  </form>
</div>
